@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.uneven {
  border-top-left-radius: 64px 5%;
  border-top-right-radius: 9% 11%;
  border-bottom-left-radius: 57px 14%;
  border-bottom-right-radius: 10% 40%;
}
